@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #010004;
    --color-secundario: #f6f6f6;
    --color-terciario: #4936ad;
    --color-hover: #f6f6f6;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: relative; /* Asegura que la posición relativa se aplique al contenedor */
}

.imagen__logo {
    position: absolute; /* Posición absoluta para colocar en la esquina */
    top: 10px; /* Distancia desde la parte superior */
    left: 10px; /* Distancia desde la parte izquierda */
    margin: 10px; /* Margen opcional para separar un poco de los bordes */
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción del logo */
}

.principal {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 40px; /* Espacio entre las columnas */
    justify-items: center; /* Centra los elementos dentro de las columnas */
    align-items: center; /* Alinea los elementos al centro verticalmente */
    margin: 5%;
}

.presentacion__contenido__contenido {
    font-family: var(--fuente-krona);
    font-size: 36px;
}

.parrafo__principal {
    font-family: var(--fuente-montserrat);
    font-size: 36px;
}
.parrafo__secundario {
    font-family: var(--fuente-montserrat);
    font-size: 20px;
}

.input__texto {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 22px;
}

.botones_estilo {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8%;
    text-align: center;
    text-decoration: none;
    margin: 0 5px; /* Espacio entre los botones */
}

.botones_estilo:hover {
    color: var(--color-hover);
    background-color: var(--color-hover);
    border-radius: 4px;
}

.col1 {
    grid-column: 1 / 2; /* Coloca col1 en la primera columna */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col2 {
    grid-column: 2 / 3; /* Coloca col2 en la segunda columna */
}

.salida__texto {
    width: 400px; /* Ancho según el valor proporcionado */
    height: 500px ; /* Altura según el valor proporcionado */
    padding: 32px; /* Padding según el borde proporcionado */
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    box-sizing: border-box;
}